// MEDIA QUERIES PER SCREEN SIZE

@mixin phones {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin largephone {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 1040px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1370px) {
    @content;
  }
}

@mixin darkButton {
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  padding: 1.8rem 3.2rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 100%;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  transition: 0.3s;
  &:hover {
    background-color: darken(#673692, 5);
  }
  &:disabled {
    opacity: 0.6;
    cursor: wait;
  }
}

@mixin scrollbar {
  /* width */
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--primaryColor);
    border-radius: 1rem;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--textColor);
  }
}

@mixin centerImage {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: whitesmoke;
  position: relative;
  img {
    width: 100%;
  }
}
